@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;
/* globals.css */

html, body {
  width: 100%;   /* Ensure full width */
  height: 100%;  /* Ensure full height */
  margin: 0;     /* Remove default margin */
  padding: 0;    /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal scroll if not needed */
}

* {
  box-sizing: border-box; /* Ensure that padding and borders are included in width and height calculations */
}

